div[id^="cell"]
{
  width:50px;
  height:50px;
  float:left;
  font-size:50px;
  text-align:center;
}

div .button
{
  position:relative;
  bottom:20px;
}

div#cell0, div#cell1, div#cell3, div#cell4, div#cell6, div#cell7
{
  border-right-style:solid;
  border-right-width:3px;
}

div#cell0, div#cell1, div#cell2, div#cell3, div#cell4, div#cell5
{
  border-bottom-style:solid;
  border-bottom-width:3px;
}

div[id^="row"]
{
  clear:both;
}

div#newGameForm
{
  clear:both;
}
